@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MFLayout.cshtml";
}

<div class="">
    @Html.Partial("~/Views/MutualFunds/Dashboard/Benchmark/_Filter.cshtml")
</div>

<div class="col-md-12">
    <table id="BenchmarkPerformance" class="Performance col-lg-12"></table>
</div>

@Scripts.Render("~/bundles/Common")
@Scripts.Render("~/bundles/BenchmarkHistory")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")